[Desktop Entry]
Type=Application
Name=winmiddle
Exec=winmiddle
NoDisplay=true
Hidden=true
StartupNotify=false
X-KDE-StartupNotify=false
StartupWMClass=winmiddle
