[Desktop Entry]
Type=Application
Name=winmiddle
Exec=/home/eslachance/.local/bin/winmiddle
NoDisplay=true
Hidden=true
StartupNotify=false
X-KDE-StartupNotify=false
StartupWMClass=winmiddle
